body {
  font-family: Palatino;
}

#reading-list {
  display:flex

}

#list-item {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  border: 2px;
  border-style: solid;
  border-color: aquamarine;
}

li {
  list-style-type: none; /* Remove bullets */
  padding: 5px; /* Remove padding */
  margin: 0; /* Remove margins */
}